<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎬 Movieboxd </title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <p>Movieboxd</p>
    </nav>
    <main>
        <div class="hero">
            <img src="https://assets.mainlinetoday.com/2024/01/movi-theaters-AdobeStock_89788434.jpg" alt="">
            <div class="text">
                <h2>A Private Club for People Who Love Movies.</h2>
                <i>Share reviews, discover hidden gems, and keep track of everything you watch.
                At Movieboxd, it's not about the algorithm — it's about your taste.
                </i>
                <p>Join the club — <a href="/register">register</a> or <a href="/login">log in</a> to start your movie journey.</p>
        
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>